src/MDSCore/Web References/MDSAppWebServiceRef/MDSAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dotnetmq.com/mds" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.dotnetmq.com/mds" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dotnetmq.com/mds">
      <s:element name="ReceiveMDSMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bytesOfMessage" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMDSMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveMDSMessageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMDSMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveMDSMessage" />
  </wsdl:message>
  <wsdl:message name="ReceiveMDSMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveMDSMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="MDSAppServiceSoap">
    <wsdl:operation name="ReceiveMDSMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Receives incoming messages to this web service.</wsdl:documentation>
      <wsdl:input message="tns:ReceiveMDSMessageSoapIn" />
      <wsdl:output message="tns:ReceiveMDSMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDSAppServiceSoap" type="tns:MDSAppServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMDSMessage">
      <soap:operation soapAction="http://www.dotnetmq.com/mds/ReceiveMDSMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MDSAppServiceSoap12" type="tns:MDSAppServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMDSMessage">
      <soap12:operation soapAction="http://www.dotnetmq.com/mds/ReceiveMDSMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDSAppService">
    <wsdl:port name="MDSAppServiceSoap" binding="tns:MDSAppServiceSoap">
      <soap:address location="http://localhost:2111/MDSWebServiceInterface/MDSAppService.asmx" />
    </wsdl:port>
    <wsdl:port name="MDSAppServiceSoap12" binding="tns:MDSAppServiceSoap12">
      <soap12:address location="http://localhost:2111/MDSWebServiceInterface/MDSAppService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>